@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu/ubuntu.ttf');
}
@font-face {
  font-family: 'zekton';
  src: url('fonts/zekton/zekton.ttf');
}
@font-face {
  font-family: 'umpush';
  src: url('fonts/umpush/umpush.ttf');
}

/* for ie mac*/
/* commented backslash hack v2 \*/
/* end hack */

/*universal styling*/
input,
textarea {
  border: 0;
  background-color: #222;
  box-shadow: 0.5px 0.5px 2px black;
  font-family: monospace;
}

::-webkit-scrollbar {
  display: none;
}

*{
  cursor:  default;
  text-decoration-line: none;
  font-family: sans-serif;
  color: gray;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

button:hover{
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

button{
  display: inline-block;
  width: 100px;
  margin: 2px auto;
  background-color: #222;
  color: gray;
  border: 0;
  border-radius: 1px;
  box-shadow: 2px 2px 0px black;
}

.warning {
  text-align: center;
  color: red;
  font-size: 10px;
  font-weight: bold;
}

/* tile line*/
#title {
  font-family: zekton;
  font-size: 35px;
  line-height: 35px;
  color: silver;
  margin: 0;
  padding: 0;
  padding-left: 5px;

  transition: margin-left ease 0.1s;
  -webkit-transition: margin-left ease 0.1s;
  -moz-transition: margin-left ease 0.1s;
  -o-transition: margin-left ease 0.1s;
}

#title:hover {
  margin-left: 15px;

  transition: margin-left ease 0.1s;
  -webkit-transition: margin-left ease 0.1s;
  -moz-transition: margin-left ease 0.1s;
  -o-transition: margin-left ease 0.1s;
}

/*top bar*/
#topBar {
  position: relative;
  height: auto;
  z-index: 2;
  background-color: black;
}

#topBar ul {
  border-radius: 2px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 3;
  background-color: #470119;
  background: -webkit-linear-gradient(left, #5d0000 , black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5d0000, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5d0000, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5d0000 , black); /* Standard syntax */
}

#topBar ul li {
  padding: 0;
  text-align: left;
  display: inline-block;
}

#topBar ul li ul {
  position: absolute;
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  background: none;
  background-color: #470119;
}

#topBar ul li > ul li {
  display: block;
}

#topBar ul li a{
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  color: gray;
  margin: 0;
  padding: 0 10px;
  border-radius: 2px;

}

#topBar ul li a:active{
  color: red;
}

#topBar li > a:hover{
  color: white;
}

#topBar li:hover > ul {
  height: auto;
  opacity: 1;
  overflow: visible;
  border-radius: 0px 0px 5px 5px;
}


#topBar ul li > ul li:hover > ul {
  position: absolute;
  display: inline;
  width: 100%;
}

/*sideBar*/
#sideBar {
  position: relative;
  max-height: 20px;
  overflow: hidden;

  transition: max-height ease 0.5s;
  -webkit-transition: max-height ease 0.5s;
  -moz-transition: max-height ease 0.5s;
  -o-transition: max-height ease 0.5s;
}

#sideBar:hover{
  max-height: 200px;
  transition: max-height ease 0.5s;
  -webkit-transition: max-height ease 0.5s;
  -moz-transition: max-height ease 0.5s;
  -o-transition: max-height ease 0.5s;
}

#sidebarWrapper{
  position: relative;
  top: auto;
  bottom: 0;
  display: block;
  overflow: hidden;
  width: 100%;

  background: repeating-linear-gradient(
    -55deg,
    #000,
    #000 5px,
    #222 5px,
    #222 10px
  );
}

#sidebarWrapper table{
  margin:auto;
}

#sidebarHandle{
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: darkred;
}

/*content page*/
#content{
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
  overflow: auto;

  background: repeating-linear-gradient(
    -55deg,
    #000,
    #000 5px,
    #222 5px,
    #222 10px
  );
}

div:target .titleLine {
  text-align: center;
  color: red;
  font-size: 15px;
  margin: 0 auto;
}

#libraryContent,
#adminPage,
#userBooks,
#inbox,
#shoppingCart,
#tradePage,
#loginContent,
#logoutContent ,
#registerContent,
#newBooks,
#home {
  height: 0;
  width: 100%;
  overflow: hidden;
}


#adminPage,
#inbox,
#shoppingCart,
#tradePage,
#loginContent,
#logoutContent ,
#registerContent,
#newBooks,
#home {
  height: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

#home:target{
  height: auto;
}

/*booklist Table*/
#libraryContent:target,
#adminPage:target,
#userBooks:target,
#inbox:target {
  width: 100%;
  height: auto;
  overflow: auto;
}

#newBooks:target,
#shoppingCart:target,
#tradePage:target,
#loginContent:target,
#logoutContent:target ,
#registerContent:target {
  position: relative;
  height: auto;
  width: %;
  margin: auto;
  left: auto;
  right: auto;
  background-color:;
}

/*library page*/
#libraryBookName{
  color: silver;
  font-size: 15px;
  font-weight: bold;
}

#libraryBookPrice, #libraryBookTradeCondition, #libraryBookUser {
  font-size: 15px;
}

/*Tables*/
#libraryTable table,
#adminPage table,
#userBooks table,
#inbox table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: #111;
}

#libraryTable tr:nth-child(2n+1),
#adminPage tr:nth-child(2n+1),
#userBooks tr:nth-child(2n+2),
#inbox tr:nth-child(2n+1)  {
  background-color: black;
}

#adminPage table{
  text-align: center;
}

#libraryTable input,
#adminPage input,
#userBooks input,
#inbox input {
  background-color: #333;
  border: 1px solid gray;
  color: gray;
  border-radius: 1px;
}

#shoppingCart table,
#tradePage table,
#loginContent table,
#logoutContent table ,
#registerContent table,
#newBooks table{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#shoppingCart td,
#tradePage td,
#loginContent td,
#logoutContent td ,
#registerContent td,
#newBooks td {
  color: white;
  font-size: 15px;
  text-align: right;
}

/*Home Page*/
#welcomeLine{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

#lastAddedBookSlideshow {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin: 20px;
  background-image: url(/data/images/booksback.jpg);
}

.slide-wrapper{
  height: 200px;
  margin: 0;
  padding: 0;
  -webkit-animation: slide 40s ease infinite;
  -webkit-animation-delay: 4s;
  width: 200%;
}

.slide{
  float: left;
  height: 200px;
  margin: 0;
  padding: 0;
  width: 10%;
  display: inline-block;
}

.slide-content{
  display: block;
  text-align: center;
  margin: 50px auto;
}

.slide:nth-child(n){
  background-color: #111;
}
.slide:nth-child(2n+1){
  background-color: #222;
}

@-webkit-keyframes slide {
  10% {margin-left: -20%;}
  20% {margin-left: -40%;}
  30% {margin-left: -60%;}
  40% {margin-left: -80%;}
  50% {margin-left: -100%;}
  60% {margin-left: -80%;}
  70% {margin-left: -60%;}
  80% {margin-left: -40%;}
  90% {margin-left: -20%;}
}

/**/
