*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 10px;
  font-family: sans-serif;
  color: gray;
  cursor: default;
}

button{
  height: 15px;
  width: 80px;
  margin: 2px;
  background-color: #eee;
  color: gray;
  border: 0;
  border-radius: 2px;
  box-shadow: 1px 1px 2px gray;
}

button:hover {
  background-color: white;
  color: black;
}

body{
  background-color: white;
  overflow: hidden;
}

#topBarTitle {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 25%;
  background-color: #555;
  text-align: center;
  box-shadow: 2px 2px 2px black;
}

#title{
  color: white;
  font-size: 15px;
  line-height: 20px;
}

#topBarMenu {
  position: absolute;
  right: 0;
  z-index: 2;
  width: 75%;
  background-color: #222;
  text-align: right;

  box-shadow: 2px 2px 2px black;
}

#topBarMenu > ul {
  display: inline;
  list-style: none;
  z-index: 3;
}

#topBarMenu > ul > li {
  color: white;
  text-align: left;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
}

#topBarMenu ul li a{
  padding:0 2px;
}

#topBarMenu ul li > ul {
  position: absolute;
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: #222;
}

#topBarMenu ul li > ul li {
  line-height: 20px;
  display: block;
}

#topBarMenu a{
  color: white;
}

#topBarMenu li > p:hover{
  background-color: #ff9900;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}

#topBarMenu li > p:hover a{
  color: black;
}

#topBarMenu li:hover > ul {
  height: auto;
  opacity: 1;
  overflow: visible;
}


#topBarMenu ul li > ul li:hover > ul {
  position: absolute;
  display: inline;
  width: 100%;
}

#sidebarWrapper{
  text-align: center;
  overflow: hidden;
  background: repeating-linear-gradient(
    -55deg,
    #eee,
    #eee 10px,
    #ddd 10px,
    #ddd 30px
  );
}

#sidebarWrapper table{
  margin:auto;
}

#sidebarHandle {
  font-weight: bold;
}

#content {
  position: absolute;
  overflow: auto;
  display: block;
  top: 20px;
  padding: 5px;
  bottom: 0;
  left: 0;
  right: 0;
}

#content > div{
  position: relative;
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
}

#content > div:target{
  height: auto;
  width: auto;
  opacity: 1;
  overflow: auto;
}

div:target .titleLine {
  text-align: center;
  color: #333;
  font-size: 15px;
  margin: 0 auto;
}

/*Home Page*/
#welcomeLine{
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

#lastAddedBookSlideshow {
  position: relative;
  height: 100px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 1px 1px 1px gray;
  background: repeating-linear-gradient(
    -55deg,
    #fff,
    #fff 5px,
    #eee 5px,
    #eee 15px
  );
}

.slide-wrapper{
  height: 100px;
  margin: 0;
  padding: 0;
  -webkit-animation: slide 10s ease infinite;
  -webkit-animation-delay: 2s;
  width: 200%;
}

.slide{
  float: left;
  height: 100px;
  margin: 0;
  padding: 0;
  width: 10%;
  display: inline-block;
}

.slide-content{
  display: block;
  text-align: center;
  margin: auto;
  font-size: 8px;
}

.slide:nth-child(n){
  background-color: #fff;
}
.slide:nth-child(2n+1){
  background-color: #eee;
}

@-webkit-keyframes slide {
  10% {margin-left: -20%;}
  20% {margin-left: -40%;}
  30% {margin-left: -60%;}
  40% {margin-left: -80%;}
  50% {margin-left: -100%;}
  60% {margin-left: -80%;}
  70% {margin-left: -60%;}
  80% {margin-left: -40%;}
  90% {margin-left: -20%;}
}

/*Tables*/
#libraryTable table,
#adminPage table,
#userBooks table,
#inbox table {
  border-collapse: separate;
  border-spacing: 0;
  width: auto;
  margin: auto;
  background-color: #eee;
}

#libraryTable td,
#adminPage td,
#userBooks td,
#inbox td {
  height: 20px;
}

#libraryTable td:first-child,
#adminPage td:first-child,
#userBooks td:first-child,
#inbox td:first-child {
  text-align: center;
}

#libraryTable tr:nth-child(2n+1),
#adminPage tr:nth-child(2n+1),
#userBooks tr:nth-child(2n+2),
#inbox tr:nth-child(2n+1)  {
  background-color: white;
}

#adminPage table{
  text-align: center;
}

#libraryTable input,
#adminPage input,
#userBooks input,
#inbox input {
  background-color: #333;
  border: 1px solid gray;
  color: gray;
  border-radius: 1px;
}

#shoppingCart table,
#tradePage table,
#loginContent table,
#logoutContent table ,
#registerContent table,
#newBooks table{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#shoppingCart td,
#tradePage td,
#loginContent td,
#logoutContent td ,
#registerContent td,
#newBooks td {
  color: #666;
  font-size: 15px;
  text-align:;
}
