@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu/ubuntu.ttf');
}
@font-face {
  font-family: 'zekton';
  src: url('fonts/zekton/zekton.ttf');
}
@font-face {
  font-family: 'umpush';
  src: url('fonts/umpush/umpush.ttf');
}

/* for ie mac*/
/* commented backslash hack v2 \*/
/* end hack */

input,
textarea {
  border: 0;
  background-color: ghostwhite;
  box-shadow: 0.5px 0.5px 2px black;
  font-family: monospace;
  margin: 0;

}

#bookTradeCondition {
  word-wrap: break-word;
  word-break: break-all;
  height: auto;

}

input:hover {
  background-color: lightcoral;
}

button {
    background-color: white;
    box-shadow: 1px 1px 4px black;
    color: black;
    width: 150px;
    height: auto;
    border: 0;
    border-radius: 20px;
}

button:hover {
    background-color: lightcoral;
    color: white;
}

a {
  text-decoration: none;
}

* {
  font-family: monospace;
  color: black;
  font-size: 20px;
}


body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: oldlace;
}

#title {
  font-family: zekton;
  font-size: 60px;
  line-height: 60px;
  color: white;
}

#topBar ul a {
  font-size: 30px;
  line-height: 40px;
}


#topBar {
  text-align: center;
  position: relative;
  height: auto;
  z-index: 2;
  margin: 0;
  background-color: #222;
}


#topBar ul {
  text-align: center;
  padding: 0;
  list-style: none;
  z-index: 3;
}

#topBar ul li {
  text-align: left;
  display: inline-block;
  background-color: #222;
}

#topBar ul li ul {
  position: absolute;
  display: block;
  height: 0;
  width: 200px;
  opacity: 0;
  overflow: hidden;
}

#topBar ul li > ul li {
  display: block;
  padding-left: 5px;
}

#topBar ul li a{
  display: inline-block;
  width: 100%;
  color: white;

}

#topBar li:hover{
  background-color: white;
}

#topBar li:hover > a{
  color: black;
}

#topBar li:hover > ul {
  height: auto;
  opacity: 1;
  background-color: #222;
  overflow: visible;

  -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}


#topBar ul li > ul li:hover > ul {
  position: absolute;
  display: inline;
  width: 100%;
  background-color: #222;
}

#sideBar {
  position: absolute;
  width: 15%;
  top: 120px;
  right: 99.5%;
  left: -14.5%;
  animation-name: sidebarTransitExit;
  animation-duration: 2s;
  bottom: 0;
  z-index: 1;
  background-color: black;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#sideBar div{
  position: absolute;
  height: 100%;
  width: 95%;
  background-color:  oldlace ;
  overflow: scroll;
}

#content {
  position: absolute;
  overflow: auto;
  top: 120px;
  animation-name: contentSlideEnter;
  animation-duration: 2s;
  left: 0.5%;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#sideBar:hover{
  animation-name: sidebarTransitEnter;
  animation-duration: 0.5s;
  right: 90%;
  left: 0;
}

#sideBar:hover + #content,
#sideBar div:hover + #content {
  animation-name: contentSlideExit;
  animation-duration: 0.5s;
  left: 15%;
}


#content div {
  position: relative;
  height: 0;
  overflow: scroll;
  opacity: 0;
  overflow: hidden;
  background-color: ghsotwhite;
}

.warning {
  text-align: center;
  color: darkred;
  font-size: 20px;
  font-weight: bold;
}

#content div:target {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

}

/*booklist Table*/
#libraryContent:target,
#adminPage:target,
#userBooks:target,
#inbox:target {
  bottom: 0;
  height: 100%;
  overflow: scroll;
  background-color: oldlace;
  padding:50px 50px;
}
#libraryContent table,
#adminPage table,
#userBooks table,
#inbox table {
  text-align: center;
  line-height: 35px;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: oldlace;
}

#libraryContent thead tr:first-child,
#adminPage thead tr:first-child,
#userBooks thead tr:first-child,
#inbox thead tr:first-child {
  background: darkcyan;
  color: white;
  border: none;
}

#libraryContent thead tr:last-child th,
#adminPage thead tr:last-child th,
#userBooks thead tr:last-child th,
#inbox thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

#libraryContent tbody tr:hover,
#adminPage tbody tr:hover,
#userBooks tbody tr:hover,
#inbox tbody tr:hover,
#libraryContent tbody tr:hover td,
#adminPage tbody tr:hover td,
#userBooks tbody tr:hover td,
#inbox tbody tr:hover td {
  /*background-color: rgba(263, 255, 240);*/
  background-color: lightcoral;
  cursor: default;
  color: white;
}

#libraryContent tbody tr:last-child td,
#adminPage tbody tr:last-child td,
#userBooks tbody tr:last-child td,
#inbox tbody tr:last-child td {
  border: none;
}

#libraryContent tbody td,
#adminPage tbody td,
#userBooks tbody td,
#inbox tbody td {
  border-bottom: 1px solid #ddd;
  height: 50px;
}

#libraryContent input,
#libraryContent button,
#adminPage button,
#userBooks button,
#inbox button,
#adminPage input,
#userBooks input,
#inbox input {
  height: 30px;
  background-color: white;
  color: black;
}

#libraryContent input:hover,
#libraryContent button:hover,
#adminPage button:hover,
#userBooks button:hover,
#inbox button:hover,
#adminPage input:hover,
#userBooks input:hover,
#inbox input:hover {

}

#shoppingCart:target,
#tradePage:target,
#loginContent:target,
#logoutContent:target ,
#registerContent:target,
#newBooks:target {
  position: relative;
  height: 700px;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  background-color: oldlace;
  box-shadow: 2px 0px 10px black;
  overflow: scroll;
}

#shoppingCart table,
#tradePage table,
#loginContent table,
#logoutContent table ,
#registerContent table,
#newBooks table{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div:target .titleLine {
  text-align: center;
  color: #222;
  font-size: 50px;
  background-color: darkcyan;
  margin-top: 0;
}

#shoppingCart td,
#tradePage td,
#loginContent td,
#logoutContent td ,
#registerContent td,
#newBooks td {
  height: 50px;
  font-size: 20px;
  text-align: center;
}

#shoppingCart input,
#tradePage input,
#loginContent input,
#logoutContent input ,
#registerContent input,
#newBooks input {
  height: 30px;
  width: 400px;
}

#shoppingCart button,
#tradePage button,
#loginContent button,
#logoutContent button ,
#registerContent button,
#newBooks button  {
  height: 30px;
  width: 150px;
}


/* Home Page */
#home:target {
  height: 100%;
  width: 100%;
}

/*Sidebar Transition*/
@keyframes sidebarTransitEnter {
    from {right: 99.5%; left: -14.5%;}
    to {right: 90%; left:0}
}

@keyframes sidebarTransitExit {
    from {right: 90%; left: 0;}
    to {right: 99.5%; left: -14.5%;}
}

@keyframes contentSlideEnter {
    from {left: 15%;}
    to {left: 0.5%;}
}

@keyframes contentSlideExit {
    to {left: 15%;}
    from {left: 0.5%;}
}
