@font-face {
  font-family: 'ubuntu';
  src: url('fonts/ubuntu/ubuntu.ttf');
}
@font-face {
  font-family: 'zekton';
  src: url('fonts/zekton/zekton.ttf');
}
@font-face {
  font-family: 'umpush';
  src: url('fonts/umpush/umpush.ttf');
}

/* for ie mac*/
/* commented backslash hack v2 \*/
/* end hack */

input,
textarea {
  border: 0;
  background-color: ghostwhite;
  box-shadow: 0.5px 0.5px 2px black;
  font-family: monospace;
  margin: 0;

}

#bookTradeCondition {
  word-wrap: break-word;
  word-break: break-all;
  height: auto;

}

input:hover {
  background-color: lightgray;

}

button {
    background-color: white;
    box-shadow: 1px 1px 2px black;
    color: black;
    width: 100px;
    height: auto;
    border: 0;
}

button:hover {
    background-color: lightgray;
}

a {
  text-decoration: none;
}

* {
  font-family: monospace;
  color: black;
  font-size: 20px;
  cursor: default;
}


body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

#title {
  font-family: zekton;
  font-size: 50px;
  line-height: 50px;
  color: white;
  padding-left: 20px;
}

#topBar ul a {
  font-size: 25px;
  line-height: 30px;
}


#topBar {
  text-align: left;
  position: relative;
  height: auto;
  z-index: 2;
  margin: 0;
  background-color: #346;
  box-shadow: 2px 5px 5px black ;
}


#topBar ul {
  text-align: left;
  padding: 0 0 0 20px;
  margin: 0;
  list-style: none;
  z-index: 3;
  background-color: white;
}

#topBar ul li {
  padding: 0 5px;
  text-align: left;
  display: inline-block;
  background-color: white;
  overflow: hidden;
}

#topBar ul li ul {
  position: absolute;
  display: block;
  max-height: 0;
  width: auto;
  overflow: hidden;
  padding: 0px;
}

#topBar ul li > ul li {
  position: relative;
  display: block;
  padding-left: 5px;
}

#topBar ul li a{
  color: black;

}

#topBar li:hover > a{
  color: black;
}

#topBar li:hover > ul {
  max-height: 100%;

  -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
}


#topBar ul li > ul li:hover > ul {
  position: absolute;
  display: inline;
  width: 100%;
  background-color: #222;
}

#sideBar {
  position: absolute;
  width: 15%;
  top: 75px;
  right: 90%;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: ;
  overflow: auto;
  box-shadow: 1px 1px 3px black;
}

::-webkit-scrollbar {
  display: none;
}

#sideBar div{
  position: relative;
  width: 100%;
  overflow: auto;
}

#sideBar div *{
  opacity: 1;
}

#content {
  position: absolute;
  overflow: auto;
  top: 75px;
  left: 15%;
  right: 0;
  overflow: auto;
  bottom: 0;
}


#content div {
  height: 0;
  overflow: hidden;
}

.warning {
  text-align: center;
  color: darkred;
  font-size: 20px;
  font-weight: bold;
}

/*booklist Table*/
#libraryContent:target,
#adminPage:target,
#userBooks:target,
#inbox:target {
  position: relative;
  height: auto;
  overflow: auto;
  padding:50px 50px;
}
#libraryContent table,
#adminPage table,
#userBooks table,
#inbox table {
  text-align: center;
  line-height: 35px;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 10px gray;
}

#libraryContent thead tr:first-child,
#adminPage thead tr:first-child,
#userBooks thead tr:first-child,
#inbox thead tr:first-child {
  background: black;
  color: white;
  border: none;
}

#libraryContent thead tr th,
#adminPage thead tr th,
#userBooks thead tr th,
#inbox thead tr th {
  color: white;
}


#libraryContent thead tr:last-child th,
#adminPage thead tr:last-child th,
#userBooks thead tr:last-child th,
#inbox thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

#libraryContent tbody tr:hover,
#adminPage tbody tr:hover,
#userBooks tbody tr:hover,
#inbox tbody tr:hover,
#libraryContent tbody tr:hover td,
#adminPage tbody tr:hover td,
#userBooks tbody tr:hover td,
#inbox tbody tr:hover td {
  /*background-color: rgba(263, 255, 240);*/
  background-color: lightgray;
  cursor: default;
}

#libraryContent tbody tr:last-child td,
#adminPage tbody tr:last-child td,
#userBooks tbody tr:last-child td,
#inbox tbody tr:last-child td {
  border: none;
}

#libraryContent tbody td,
#adminPage tbody td,
#userBooks tbody td,
#inbox tbody td {
  border-bottom: 1px solid #ddd;
  height: 50px;
}

#libraryContent input,
#libraryContent button,
#adminPage button,
#userBooks button,
#inbox button,
#adminPage input,
#userBooks input,
#inbox input {
  height: 30px;
  background-color: white;
  color: black;
}

#libraryContent input:hover,
#libraryContent button:hover,
#adminPage button:hover,
#userBooks button:hover,
#inbox button:hover,
#adminPage input:hover,
#userBooks input:hover,
#inbox input:hover {

}

#shoppingCart:target,
#tradePage:target,
#loginContent:target,
#logoutContent:target ,
#registerContent:target,
#newBooks:target {
  position: relative;
  opacity: 0.7;
  height: auto;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  background-color: black;
}

#shoppingCart table,
#tradePage table,
#loginContent table,
#logoutContent table ,
#registerContent table,
#newBooks table{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

div:target .titleLine {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 0;
}

#shoppingCart td,
#tradePage td,
#loginContent td,
#logoutContent td ,
#registerContent td,
#newBooks td {
  color: white;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

#shoppingCart input,
#tradePage input,
#loginContent input,
#logoutContent input ,
#registerContent input,
#newBooks input {
  height: 30px;
  width: 400px;
}

#shoppingCart button,
#tradePage button,
#loginContent button,
#logoutContent button ,
#registerContent button,
#newBooks button  {
  height: 30px;
  width: 150px;
}


/* Home Page */
#home:target {
  height: auto;
  width: auto;
  padding: 20px 50px;
}
